<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496950293079-0fb90tutvjg2e11biv1f91h4q8p4avi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496950293079-0fb90tutvjg2e11biv1f91h4q8p4avi8</string>
	<key>API_KEY</key>
	<string>AIzaSyDLw2czRgOY_jI4PnwHQbc0Vfd8xvhpA6s</string>
	<key>GCM_SENDER_ID</key>
	<string>496950293079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caloriesCounter</string>
	<key>PROJECT_ID</key>
	<string>calorie-501cb</string>
	<key>STORAGE_BUCKET</key>
	<string>calorie-501cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496950293079:ios:1d50660bd9a02afc79e912</string>
</dict>
</plist>